body {
    margin: 0;
}
button{
    background: cadetblue;
    color: antiquewhite;
    cursor: pointer;
    font-size: large;
}

#header {
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    height: 7vh;
    box-shadow: 0px 2px 8px 0px steelblue;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#joinButton{
    display: grid;
    grid-auto-columns: min-content;
}
.inputList{
    display: grid;
    grid-auto-columns: min-content;
    padding: 3vh;
}
#createBLink{
    font-size: larger;
    background: cadetblue;
    color: antiquewhite;
    padding: 3px;
}

#content {
    background: bisque;
    width: 100vw;
    height: auto;
    padding: 1vh;
    padding-top: 7vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#content>div {
    background: aliceblue;
    width: 40vw;
    height: 50vh;
    margin: 5vh;
}

.PageName {
    color: black;
    font-size: xx-large;
}

.logas {
    color: black;
    font-size: medium;
}

.logout {}

.tournList {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    border: solid blue 1px;

}

.tlist-item {
    display: block;
    width: auto;
    height: 25%;
    padding: 3px;
    font-size: x-large;
    background: cadetblue;
    color: bisque;
    border: solid blue 1px;
    cursor: pointer;


}

.contentHeader {
    font-size: xx-large;
    text-align: center;
}

.battleList {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    border: solid blue 1px;

}

.blist-item {
    display: block;
    width: auto;
    height: 25%;
    padding: 3px;
    font-size: x-large;
    background: cadetblue;
    color: bisque;
    border: solid blue 1px;
    cursor: pointer;


}

.contentHeader {
    font-size: xx-large;
    text-align: center;
}

.leaderboard {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    border: solid blue 1px;

}

#assTxt{
    text-align: center;
}
.lb-entry {
    display: flex;
    width: auto;
    height: 25%;
    font-size: x-large;
    background: dimgray;
    color: bisque;
    border: solid blue 1px;
    justify-content: space-between;
}

.lb-Name {
    width: 50%;
    border: solid blue 1px;

}

.lb-Score {
    width: 50%;
    border: solid blue 1px;

}

div#statrules {
    display: grid;
    justify-items: center;
}